@import "tailwindcss";

/* Min-width Version */
@theme{
    --breakpoint-*: initial;
    --breakpoint-xs: 320px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
    --breakpoint-3xl: 1920px;
}

/* Max-width Version  */

@custom-variants {
    max-xs: (max-width: var(--breakpoint-xs));
    max-sm: (max-width: var(--breakpoint-sm));
    max-md: (max-width: var(--breakpoint-md));
    max-lg: (max-width: var(--breakpoint-lg));
    max-xl: (max-width: var(--breakpoint-xl));
    max-2xl: (max-width: var(--breakpoint-2xl));
    max-3xl: (max-width: var(--breakpoint-3xl));
}


/* Custom variables */

:root {
    --color-primary: #1E3A8A;
    --color-secondary: #F59E0B;
    --color-accent: #10B981;
    --font-family-sans: 'Inter', sans-serif;
    --font-family-serif: 'Merriweather', serif;
    --font-family-mono: 'Fira Code', monospace;
}